#ContactContainer {
    height: 45rem;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--green);
    padding-top: 1rem;
}

.ContactTitle {
    padding-top: 2.5rem;
    color: var(--white);
    text-align: center;
    margin-top: 0;
}

.ContactTitleBottom {
    color: var(--white);
    text-align: center;
    margin-top: 0;
    /* margin-bottom: 2rem; */
}

#NoFormContainer {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: 45% 17.5% 37.5%;
    justify-self: baseline;
}

#Form {
    /* margin-top: 1rem; */
    background-color: var(--dark-green);
    height: 67.5%;
    width: 75%;
    border-radius: 10px;
}

#FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HeadshotContainer {
    height: 17.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}

#Headshot {
    height: 100%;
    border-radius: 600px;

}

#ContactSocialButtons {
    margin-top: 2rem;
    position: relative;
    align-self: center;
    display: flex;
    height: 27.5%;
    justify-content: center;
    align-items: center;
  }
  
  .socialIcon {
    position: relative;
    z-index: 10;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    margin: 1rem;
  }
  
  .icon {
    height: 3rem;
  }

  #name {
    resize: none;
  }

  #email {
    resize: none;
  }

  @media all and (max-width: 550px) {
    #ContactContainer {
        height: 100rem;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 57% 43%; */
        background-color: var(--green);
        padding-top: 1rem;
    }

    #FormContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    #LeftTitleContainer {
        margin-bottom: 2rem;
    }

    .ContactTitleBottom {
        color: var(--white);
        text-align: center;
        margin-top: 0;
        margin-right: .5rem;
        margin-left: .5rem;
        /* margin-bottom: 2rem; */
        margin-bottom: 0;
    }

    #HeadshotContainer {
        padding-top: 0;
    }

    #NoFormContainer {
        margin-top: 0;
    }
  }

  