.NavBarContainer {
  height: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

#logo {
  width: 7rem;
  height: 5rem;
  margin-left: 2rem;
  margin-top: 1rem;
  object-fit: none;
  position: relative;
  cursor: pointer;
}

#linksContainer {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.NavLink {
  color: white;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  cursor: pointer;
  text-decoration: none;
}

.isScrolling {
  background-color: var(--grey);
  position: fixed;
  z-index: 10000;
  height: 5rem;
}

.isScrolling #logoContainer #logo {
  margin-top: 0;
}
