.NavBarContainer {
  height: 6rem;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  transition: .8s;
}

#logo {
  width: 7rem;
  height: 5rem;
  margin-left: 2rem;
  margin-top: 1rem;
  object-fit: none;
  position: relative;
  cursor: pointer;
}

#linksContainer {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.NavLink {
  color: white;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  cursor: pointer;
  text-decoration: none;
}

.isScrolling {
  background-color: rgba(71, 69, 84, .6);
  position: fixed;
  z-index: 10000;
  height: 5rem;
  transition: .8s;
}

.isScrolling #logoContainer #logo {
  margin-top: 0;
} 

#logoSmall {
  display: none;
}

@media all and (max-width: 500px) {
  #logo {
  display: none;
  }

  #logoSmall {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-left: .5rem;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
  }

  .NavLink {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  #linksContainer {
    margin-right: 0;
}

.isScrolling {
  position: fixed;
  height: 5rem;
  width: 100%;
}
}


@media all and (max-width: 350px) {
  .NavBarContainer {
    justify-content: initial;
    height: 4rem;
  }

  #logoSmall {
    width: 2rem;
    height: 2rem;
  }

  .NavLink {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
}