#ProjectsContainer {
    height: 45rem;
    width: 100%;
    background-color: var(--grey);
}

#ProjectsTitle {
    padding-top: 4rem;
    color: var(--white);
    text-align: center;
}

#LaptopContainer {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.laptop {
    width: -webkit-fill-available;
    padding: 1.25rem;
    display: flex;
    justify-self: center;
}

#ButtonContainer {
    display: flex;
    justify-content: center;
}

#ProjectsButton {
    position: relative;
    margin-top: 3.5rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 7.5px;
    width: 12rem;
    height: 3rem;
    font-size: 12px;
    cursor: pointer;
  }