#videoTag {
  width: 100%;
  height: 100%;
  z-index: 0;
}

#SplashContainer {
  position: relative;
  height: 100%;
}

#SplashSectionContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

#SplashInfoButtonContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding-bottom: 5rem;

}

#SplashInfo {
  position: relative;
    z-index: 10;
    color: var(--white);
    text-align: center;
}

#SplashButton {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgba(191, 48, 59, .95);
  border: none;
  border-radius: 7.5px;
  z-index: 10;
  width: 12rem;
  font-size: 14px;
  cursor: pointer;

}

#SplashButton:hover {
  background-color: rgba(191, 48, 59, .8);
  color: var(--white);
}

#SplashSocialButtons {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 8rem;
}

.socialIcon {
  position: relative;
  z-index: 10;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin: .5rem;
}

.icon {
  height: 2rem;
}

@media all and (max-width: 770px) {
  #SplashSocialButtons {
    padding-bottom: 4rem;
  }

  #AboutTitle {
    padding-top: 4rem;
  }
}



@media all and (max-width: 550px) {
  #videoTag {
    object-fit: none;
   }
  #SplashContainer {
    height: 20rem;
  }
}

@media all and (max-width: 450px) {
  #SplashInfo {
    margin-top: 0;
  }

  #SplashInfoButtonContainer {
    padding-bottom: 0;
  }

  #SplashButton {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  #SplashSocialButtons {
    padding-bottom: 0;
  }


}



