#videoTag {
  width: 100%;
  height: 100%;
  z-index: 0;
}

#SplashContainer {
  position: relative;
  height: 100%;
}

#SplashSectionContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

#SplashInfoButtonContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;

}

#SplashInfo {
  position: relative;
    z-index: 10;
    color: var(--white);
    text-align: center;
}

#SplashButton {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--red);
  border: none;
  border-radius: 7.5px;
  z-index: 10;
  width: 10rem;
  font-size: 12px;;
  cursor: pointer;
}

#SplashSocialButtons {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: flex-end;

}

.socialIcon {
  position: relative;
  z-index: 10;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin: .5rem;
}

.icon {
  height: 2rem;
}

@media all and (max-width: 1000px) {
  #SplashContainer {
    height: 40rem;
  }
}


@media all and (max-width: 750px) {
  #videoTag {
   object-fit: none;
  }
  #SplashContainer {
    height: 30rem;
  }
}


@media all and (max-width: 550px) {
  #SplashContainer {
    height: 20rem;
  }
}

@media all and (max-width: 450px) {
  #SplashInfo {
    margin-top: 0;
  }

  #SplashButton {
    margin-top: 0;
    margin-bottom: 1rem;
  }


}



