@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Varela+Round&display=swap");

h4,
h5,
h6,
a,
span {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

button,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

textarea {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

p,
li,
h3 
div {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}
